/*
	
	
	
	
	
	hey guys
	
	
	
	
	
	
*/

@keyframes fadeIn {
  from {
    filter: opacity(0%);
    transform: scale(0.7, 0.7);
    margin-top: 2em;
  }
  to {
    filter: opacity(100%);
    transform: scale(1, 1);
    margin-top: 0;
  }
}

@keyframes colorchange
{
  0% {background-color: #28AD56}
  4.347826087% {background-color: #28AD56}
  8.695652174%  {background-color: #28AD56}
  13.043478261%  {background-color: #28AD56}
  17.391304348%  {background-color: #17BEBB}
  21.739130435% {background-color: #DA8B3D}
  26.086956522% {background-color: #777677}
  30.434782609% {background-color: #553099}
  34.782608696% {background-color: #E22986}
  39.130434783% {background-color: #E83151}
  43.47826087% {background-color: #C3423F}
  47.826086957% {background-color: #EB2F2E}
  52.173913044% {background-color: #EE4524}
  56.521739131% {background-color: #E57138}
  60.869565218% {background-color: #E79041}
  65.217391305% {background-color: #FBCB4F}
  69.565217392% {background-color: #89B63F}
  73.913043479% {background-color: #53B73D}
  78.260869566% {background-color: #42965A}
  82.608695653% {background-color: #4B9D9B}
  86.95652174% {background-color: #52ADE4}
  91.304347827% {background-color: #3053E3}
  95.652173914% {background-color: #785EF0}
  100% {background-color: #28AD56}
}

* {
  transition-timing-function: cubic-bezier(.08,.83,.6,.94);
  animation-timing-function: cubic-bezier(.08,.83,.6,.94) 
}

html {
  animation: colorchange 50s infinite;
  animation-timing-function: linear
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter UI';
  font-size: 1.1em;
  border-radius: 9pt / 9pt;
}

body {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  border-radius: 9pt / 9pt;
}

#logotype {
  width: 17em;
}

p {
  width: fit-content;
  max-width: 17em;
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  display: inline-block;
  transition-duration: 125ms;
}

a:hover {
  transform: scale(1.1, 1.1);
}

a:active {
  transform: scale(0.9, 0.9);
}
