@keyframes fadeIn {
  from {
    filter: opacity(0%);
    transform: scale(0.7, 0.7);
    margin-top: 3em;
  }
  to {
    filter: opacity(100%);
    transform: scale(1, 1);
    margin-top: 1em;
  }
}

* {
  transition-timing-function: cubic-bezier(.08,.83,.6,.94);
  animation-timing-function: cubic-bezier(.08,.83,.6,.94) 
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #202C39;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter UI';
  font-size: 1.1em;
  border-radius: 9pt / 9pt;
}

body {
  min-height: min-content;
}

.bodyBlock {
  animation-name: fadeIn;
  animation-duration: 500ms;
  min-height: min-content; /* needs vendor prefixes */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

#cardGrid {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap
}

#tagline {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI';
  font-size: 3em;
  letter-spacing: -1px;
}

#logotype {
  width: 9em;
  position: absolute;
  bottom: 1em;
  filter: opacity(5%);
}

p {
  width: fit-content;
  max-width: 17em;
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition-duration: 125ms;
}

#back {
  width: 1em;
  padding: 0.5em;
}

#backLink {
  transition-duration: 125ms;
}

#backLink:hover {
  transform: scale(1.2, 1.2)
}

#backLink:active {
  transform: scale(0.9, 0.9)
}

.card {
  width: 20em;
  height: 5em;
  background-color: rgba(255,255,255,0.10);
  margin-top: 1.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  transition-duration: 125ms;
  border-radius: 9pt / 9pt;
}

.card .productLogo {
  height: 3em;
  margin-left: 1em;
  display: inline-block;
  border-radius: 9pt / 9pt !important;
}

.cardInfo {
  width: calc(100% - 5em);
  padding-left: 1em;
}

.cardInfo p {
  margin: 0;
  padding: 0;
  margin-top: 0.25em
}

.cardInfo h3 {
  font-family: 'Inter UI';
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline-block
}

#go {
  width: 0.9em;
  padding: 0;
  padding-right: 0.4em;
  transform: rotate(180deg)
}

.card:hover {
  background-color: rgba(255,255,255,0.20);
  transform: scale(1.10,1.10);
}

.card:active {
  background-color: rgba(255,255,255,0.50);
  transform: scale(0.9,0.9)
}

#xylobolCard:hover {
  background-color: #503317
}

#xylobolCard:active {
  background-color: #E4AA71
}

#sorixelleCard:hover {
  background-color: #3F585D
}

#sorixelleCard:active {
  background-color: #C3F4FF
}

#wintierCard:hover {
  background-color: #071834
}

#wintierCard:active {
  background-color: #5375AC
}

#t3chCard:hover {
  background-color: #0B1035
}

#t3chCard:active {
  background-color: #158DF6
}

#bitmapperCard:hover {
  background-color: #063F4C;
}

#bitmapperCard:active {
  background-color: #50C2DD;
}

@media only screen and (max-device-width: 480px) {

  .card {
    width: 100vw;
    height: 5em;
    background-color: rgba(255,255,255,0.10);
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    transition-duration: 125ms;
    border-radius: 9pt / 9pt;
    margin-left: 0;
    margin-right: 0;
  }

  #logotype {
    display: none;
  }

}